/BlazorJSONToDiagramVisualizer/.vs
/BlazorJSONToDiagramVisualizer/obj
BlazorJSONToDiagramVisualizer/BlazorJSONToDiagramVisualizer.csproj.user
/BlazorJSONToDiagramVisualizer/bin
BlazorJSONToDiagramVisualizer.zip
